In [265]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In [266]:
dfs = [pd.read_csv('train.csv',header=0),pd.read_csv('test.csv',header=0)]

In [267]:
for df in dfs:
    df.datetime = df.datetime.apply(pd.to_datetime)
    df['year']  = df.datetime.apply(lambda x : x.year)
    df['month'] = df.datetime.apply(lambda x : x.month)
    df['dayofweek'] = df.datetime.apply(lambda x : x.dayofweek)
    df['hour']  = df.datetime.apply(lambda x : x.hour)
    df['day']  = df.datetime.apply(lambda x : x.day)

In [268]:
categoricalFeatureNames = ["holiday","workingday","weather","month","hour","year","month","dayofweek"]
# numericalFeatureNames = ["temp","humidity","windspeed","atemp"]
for df in dfs:
    for var in categoricalFeatureNames:
        df[var] = df[var].astype("category",copy=False)
    
dfs[0].dtypes

datetime      datetime64[ns]
season                 int64
holiday             category
workingday          category
weather             category
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
year                category
month               category
dayofweek           category
hour                category
day                    int64
dtype: object

In [269]:
# dfs[0] = pd.get_dummies(dfs[0],columns=['year'])
# dfs[0] = pd.get_dummies(dfs[0],columns=['month'])
# dfs[0] = pd.get_dummies(dfs[0],columns=['dayofweek'])
# dfs[0] = pd.get_dummies(dfs[0],columns=['hour'])

# dfs[1] = pd.get_dummies(dfs[1],columns=['year'])
# dfs[1] = pd.get_dummies(dfs[1],columns=['month'])
# dfs[1] = pd.get_dummies(dfs[1],columns=['dayofweek'])
# dfs[1] = pd.get_dummies(dfs[1],columns=['hour'])
# dfs[0].dtypes

In [270]:
# dfs[0]['windBand'] = pd.qcut(dfs[0]['windspeed'], 5)
# dfs[0][['windBand', 'count']].groupby(['windBand'], as_index=False).mean().sort_values(by='windBand', ascending=True)

In [271]:

dfs[0] = dfs[0][np.abs(dfs[0]["count"]-dfs[0]["count"].mean())<=(3*dfs[0]["count"].std())]

In [272]:
print(dfs[0].shape[0] + dfs[1].shape[0])

17232

In [273]:
data = dfs[0].append(dfs[1])
data.reset_index(inplace=True)
data.drop('index',inplace=True,axis=1)
print(data.shape[0])

17232

In [274]:
# from sklearn.ensemble import RandomForestRegressor

# dataWind0 = data[data["windspeed"]==0]
# dataWindNot0 = data[data["windspeed"]!=0]
# rfModel_wind = RandomForestRegressor()
# windColumns = ["season","weather","humidity","month","temp","year","atemp"]
# rfModel_wind.fit(dataWindNot0[windColumns], dataWindNot0["windspeed"])

# wind0Values = rfModel_wind.predict(X= dataWind0[windColumns])
# dataWind0["windspeed"] = wind0Values
# data = dataWindNot0.append(dataWind0)
# data.reset_index(inplace=True)
# data.drop('index',inplace=True,axis=1)

In [275]:
data['workingday'] = data['workingday'].astype("int32",copy=False)
data['holiday'] = data['holiday'].astype("int32",copy=False)
data['season'] = data['season'].astype("int32",copy=False)

In [276]:
data.loc[(data['workingday']==0) & (data['holiday']==0),'holiday']=1

In [277]:
data.head(40)

,atemp,casual,count,datetime,day,dayofweek,holiday,hour,humidity,month,registered,season,temp,weather,windspeed,workingday,year
0,14.395,3.0,16.0,2011-01-01 00:00:00,1,5,1,0,81,1,13.0,1,9.84,1,0.0000,0,2011
1,13.635,8.0,40.0,2011-01-01 01:00:00,1,5,1,1,80,1,32.0,1,9.02,1,0.0000,0,2011
2,13.635,5.0,32.0,2011-01-01 02:00:00,1,5,1,2,80,1,27.0,1,9.02,1,0.0000,0,2011
3,14.395,3.0,13.0,2011-01-01 03:00:00,1,5,1,3,75,1,10.0,1,9.84,1,0.0000,0,2011
4,14.395,0.0,1.0,2011-01-01 04:00:00,1,5,1,4,75,1,1.0,1,9.84,1,0.0000,0,2011
5,12.880,0.0,1.0,2011-01-01 05:00:00,1,5,1,5,75,1,1.0,1,9.84,2,6.0032,0,2011
6,13.635,2.0,2.0,2011-01-01 06:00:00,1,5,1,6,80,1,0.0,1,9.02,1,0.0000,0,2011
7,12.880,1.0,3.0,2011-01-01 07:00:00,1,5,1,7,86,1,2.0,1,8.20,1,0.0000,0,2011
8,14.395,1.0,8.0,2011-01-01 08:00:00,1,5,1,8,75,1,7.0,1,9.84,1,0.0000,0,2011
9,17.425,8.0,14.0,2011-01-01 09:00:00,1,5,1,9,76,1,6.0,1,13.12,1,0.0000,0,2011
10,19.695,12.0,36.0,2011-01-01 10:00:00,1,5,1,10,76,1,24.0,1,15.58,1,16.9979,0,2011
11,16.665,26.0,56.0,2011-01-01 11:00:00,1,5,1,11,81,1,30.0,1,14.76,1,19.0012,0,2011
12,21.210,29.0,84.0,2011-01-01 12:00:00,1,5,1,12,77,1,55.0,1,17.22,1,19.0012,0,2011
13,22.725,47.0,94.0,2011-01-01 13:00:00,1,5,1,13,72,1,47.0,1,18.86,2,19.9995,0,2011
14,22.725,35.0,106.0,2011-01-01 14:00:00,1,5,1,14,72,1,71.0,1,18.86,2,19.0012,0,2011
15,21.970,40.0,110.0,2011-01-01 15:00:00,1,5,1,15,77,1,70.0,1,18.04,2,19.9995,0,2011
16,21.210,41.0,93.0,2011-01-01 16:00:00,1,5,1,16,82,1,52.0,1,17.22,2,19.9995,0,2011
17,21.970,15.0,67.0,2011-01-01 17:00:00,1,5,1,17,82,1,52.0,1,18.04,2,19.0012,0,2011
18,21.210,9.0,35.0,2011-01-01 18:00:00,1,5,1,18,88,1,26.0,1,17.22,3,16.9979,0,2011
19,21.210,6.0,37.0,2011-01-01 19:00:00,1,5,1,19,88,1,31.0,1,17.22,3,16.9979,0,2011
20,20.455,11.0,36.0,2011-01-01 20:00:00,1,5,1,20,87,1,25.0,1,16.40,2,16.9979,0,2011
21,20.455,3.0,34.0,2011-01-01 21:00:00,1,5,1,21,87,1,31.0,1,16.40,2,12.9980,0,2011
22,20.455,11.0,28.0,2011-01-01 22:00:00,1,5,1,22,94,1,17.0,1,16.40,2,15.0013,0,2011
23,22.725,15.0,39.0,2011-01-01 23:00:00,1,5,1,23,88,1,24.0,1,18.86,2,19.9995,0,2011
24,22.725,4.0,17.0,2011-01-02 00:00:00,2,6,1,0,88,1,13.0,1,18.86,2,19.9995,0,2011
25,21.970,1.0,17.0,2011-01-02 01:00:00,2,6,1,1,94,1,16.0,1,18.04,2,16.9979,0,2011
26,21.210,1.0,9.0,2011-01-02 02:00:00,2,6,1,2,100,1,8.0,1,17.22,2,19.0012,0,2011
27,22.725,2.0,6.0,2011-01-02 03:00:00,2,6,1,3,94,1,4.0,1,18.86,2,12.9980,0,2011
28,22.725,2.0,3.0,2011-01-02 04:00:00,2,6,1,4,94,1,1.0,1,18.86,2,12.9980,0,2011
29,21.210,0.0,2.0,2011-01-02 06:00:00,2,6,1,6,77,1,2.0,1,17.22,3,19.9995,0,2011
30,20.455,0.0,1.0,2011-01-02 07:00:00,2,6,1,7,76,1,1.0,1,16.40,2,12.9980,0,2011
31,20.455,0.0,8.0,2011-01-02 08:00:00,2,6,1,8,71,1,8.0,1,16.40,3,15.0013,0,2011
32,19.695,1.0,20.0,2011-01-02 09:00:00,2,6,1,9,76,1,19.0,1,15.58,2,15.0013,0,2011
33,17.425,7.0,53.0,2011-01-02 10:00:00,2,6,1,10,81,1,46.0,1,14.76,2,15.0013,0,2011
34,16.665,16.0,70.0,2011-01-02 11:00:00,2,6,1,11,71,1,54.0,1,14.76,2,16.9979,0,2011
35,16.665,20.0,93.0,2011-01-02 12:00:00,2,6,1,12,66,1,73.0,1,14.76,2,19.9995,0,2011
36,17.425,11.0,75.0,2011-01-02 13:00:00,2,6,1,13,66,1,64.0,1,14.76,2,8.9981,0,2011
37,17.425,4.0,59.0,2011-01-02 14:00:00,2,6,1,14,76,1,55.0,1,14.76,3,12.9980,0,2011
38,16.665,19.0,74.0,2011-01-02 15:00:00,2,6,1,15,81,1,55.0,1,13.94,3,11.0014,0,2011
39,16.665,9.0,76.0,2011-01-02 16:00:00,2,6,1,16,71,1,67.0,1,13.94,3,11.0014,0,2011

In [278]:
data['workingday'] = data['workingday'].astype("category",copy=False)
data['holiday'] = data['holiday'].astype("category",copy=False)
data['season'] = data['season'].astype("category",copy=False)

In [279]:
dataTrain = data[pd.notnull(data['count'])].sort_values(by=["datetime"])
dataTest = data[~pd.notnull(data['count'])].sort_values(by=["datetime"])
datetimecol = dataTest["datetime"]
yLabels = dataTrain["count"]
yLablesRegistered = dataTrain["registered"]
yLablesCasual = dataTrain["casual"]

In [280]:
# dataTrain[['holiday','workingday', 'count','dayofweek']].groupby(['workingday','holiday','dayofweek'], as_index=False).mean().sort_values(by='dayofweek', ascending=True)

In [281]:
dataTrain.head(100)

,atemp,casual,count,datetime,day,dayofweek,holiday,hour,humidity,month,registered,season,temp,weather,windspeed,workingday,year
0,14.395,3.0,16.0,2011-01-01 00:00:00,1,5,1,0,81,1,13.0,1,9.84,1,0.0000,0,2011
1,13.635,8.0,40.0,2011-01-01 01:00:00,1,5,1,1,80,1,32.0,1,9.02,1,0.0000,0,2011
2,13.635,5.0,32.0,2011-01-01 02:00:00,1,5,1,2,80,1,27.0,1,9.02,1,0.0000,0,2011
3,14.395,3.0,13.0,2011-01-01 03:00:00,1,5,1,3,75,1,10.0,1,9.84,1,0.0000,0,2011
4,14.395,0.0,1.0,2011-01-01 04:00:00,1,5,1,4,75,1,1.0,1,9.84,1,0.0000,0,2011
5,12.880,0.0,1.0,2011-01-01 05:00:00,1,5,1,5,75,1,1.0,1,9.84,2,6.0032,0,2011
6,13.635,2.0,2.0,2011-01-01 06:00:00,1,5,1,6,80,1,0.0,1,9.02,1,0.0000,0,2011
7,12.880,1.0,3.0,2011-01-01 07:00:00,1,5,1,7,86,1,2.0,1,8.20,1,0.0000,0,2011
8,14.395,1.0,8.0,2011-01-01 08:00:00,1,5,1,8,75,1,7.0,1,9.84,1,0.0000,0,2011
9,17.425,8.0,14.0,2011-01-01 09:00:00,1,5,1,9,76,1,6.0,1,13.12,1,0.0000,0,2011
10,19.695,12.0,36.0,2011-01-01 10:00:00,1,5,1,10,76,1,24.0,1,15.58,1,16.9979,0,2011
11,16.665,26.0,56.0,2011-01-01 11:00:00,1,5,1,11,81,1,30.0,1,14.76,1,19.0012,0,2011
12,21.210,29.0,84.0,2011-01-01 12:00:00,1,5,1,12,77,1,55.0,1,17.22,1,19.0012,0,2011
13,22.725,47.0,94.0,2011-01-01 13:00:00,1,5,1,13,72,1,47.0,1,18.86,2,19.9995,0,2011
14,22.725,35.0,106.0,2011-01-01 14:00:00,1,5,1,14,72,1,71.0,1,18.86,2,19.0012,0,2011
15,21.970,40.0,110.0,2011-01-01 15:00:00,1,5,1,15,77,1,70.0,1,18.04,2,19.9995,0,2011
16,21.210,41.0,93.0,2011-01-01 16:00:00,1,5,1,16,82,1,52.0,1,17.22,2,19.9995,0,2011
17,21.970,15.0,67.0,2011-01-01 17:00:00,1,5,1,17,82,1,52.0,1,18.04,2,19.0012,0,2011
18,21.210,9.0,35.0,2011-01-01 18:00:00,1,5,1,18,88,1,26.0,1,17.22,3,16.9979,0,2011
19,21.210,6.0,37.0,2011-01-01 19:00:00,1,5,1,19,88,1,31.0,1,17.22,3,16.9979,0,2011
20,20.455,11.0,36.0,2011-01-01 20:00:00,1,5,1,20,87,1,25.0,1,16.40,2,16.9979,0,2011
21,20.455,3.0,34.0,2011-01-01 21:00:00,1,5,1,21,87,1,31.0,1,16.40,2,12.9980,0,2011
22,20.455,11.0,28.0,2011-01-01 22:00:00,1,5,1,22,94,1,17.0,1,16.40,2,15.0013,0,2011
23,22.725,15.0,39.0,2011-01-01 23:00:00,1,5,1,23,88,1,24.0,1,18.86,2,19.9995,0,2011
24,22.725,4.0,17.0,2011-01-02 00:00:00,2,6,1,0,88,1,13.0,1,18.86,2,19.9995,0,2011
25,21.970,1.0,17.0,2011-01-02 01:00:00,2,6,1,1,94,1,16.0,1,18.04,2,16.9979,0,2011
26,21.210,1.0,9.0,2011-01-02 02:00:00,2,6,1,2,100,1,8.0,1,17.22,2,19.0012,0,2011
27,22.725,2.0,6.0,2011-01-02 03:00:00,2,6,1,3,94,1,4.0,1,18.86,2,12.9980,0,2011
28,22.725,2.0,3.0,2011-01-02 04:00:00,2,6,1,4,94,1,1.0,1,18.86,2,12.9980,0,2011
29,21.210,0.0,2.0,2011-01-02 06:00:00,2,6,1,6,77,1,2.0,1,17.22,3,19.9995,0,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,9.090,0.0,2.0,2011-01-04 01:00:00,4,1,0,1,59,1,2.0,1,6.56,1,7.0015,1,2011
71,7.575,0.0,1.0,2011-01-04 02:00:00,4,1,0,2,63,1,1.0,1,5.74,1,8.9981,1,2011
72,9.090,0.0,2.0,2011-01-04 04:00:00,4,1,0,4,63,1,2.0,1,5.74,1,6.0032,1,2011
73,7.575,0.0,4.0,2011-01-04 05:00:00,4,1,0,5,68,1,4.0,1,4.92,1,7.0015,1,2011
74,7.575,0.0,36.0,2011-01-04 06:00:00,4,1,0,6,74,1,36.0,1,4.92,1,7.0015,1,2011
75,7.575,2.0,94.0,2011-01-04 07:00:00,4,1,0,7,74,1,92.0,1,4.92,1,8.9981,1,2011
76,7.575,2.0,179.0,2011-01-04 08:00:00,4,1,0,8,69,1,177.0,1,5.74,1,11.0014,1,2011
77,7.575,2.0,100.0,2011-01-04 09:00:00,4,1,0,9,64,1,98.0,1,6.56,1,15.0013,1,2011
78,6.820,5.0,42.0,2011-01-04 10:00:00,4,1,0,10,69,1,37.0,1,6.56,2,22.0028,1,2011
79,10.605,7.0,57.0,2011-01-04 11:00:00,4,1,0,11,51,1,50.0,1,9.02,1,19.9995,1,2011
80,11.365,12.0,78.0,2011-01-04 12:00:00,4,1,0,12,51,1,66.0,1,9.02,1,11.0014,1,2011
81,11.365,18.0,97.0,2011-01-04 13:00:00,4,1,0,13,56,1,79.0,1,9.84,1,12.9980,1,2011
82,12.880,9.0,63.0,2011-01-04 14:00:00,4,1,0,14,52,1,54.0,1,10.66,1,15.0013,1,2011
83,13.635,17.0,65.0,2011-01-04 15:00:00,4,1,0,15,52,1,48.0,1,11.48,1,16.9979,1,2011
84,14.395,15.0,83.0,2011-01-04 16:00:00,4,1,0,16,49,1,68.0,1,12.30,1,16.9979,1,2011
85,13.635,10.0,212.0,2011-01-04 17:00:00,4,1,0,17,48,1,202.0,1,11.48,1,15.0013,1,2011
86,12.880,3.0,182.0,2011-01-04 18:00:00,4,1,0,18,48,1,179.0,1,10.66,1,12.9980,1,2011
87,12.880,2.0,112.0,2011-01-04 19:00:00,4,1,0,19,48,1,110.0,1,9.84,1,7.0015,1,2011
88,12.880,1.0,54.0,2011-01-04 20:00:00,4,1,0,20,48,1,53.0,1,9.84,1,7.0015,1,2011
89,13.635,0.0,48.0,2011-01-04 21:00:00,4,1,0,21,64,1,48.0,1,9.02,1,0.0000,1,2011
90,12.880,1.0,35.0,2011-01-04 22:00:00,4,1,0,22,64,1,34.0,1,9.02,1,6.0032,1,2011
91,11.365,2.0,11.0,2011-01-04 23:00:00,4,1,0,23,69,1,9.0,1,8.20,1,6.0032,1,2011
92,12.880,0.0,6.0,2011-01-05 00:00:00,5,2,0,0,64,1,6.0,1,8.20,1,0.0000,1,2011
93,9.850,0.0,6.0,2011-01-05 01:00:00,5,2,0,1,74,1,6.0,1,6.56,1,6.0032,1,2011
94,9.850,0.0,2.0,2011-01-05 02:00:00,5,2,0,2,74,1,2.0,1,6.56,1,6.0032,1,2011
95,11.365,0.0,2.0,2011-01-05 04:00:00,5,2,0,4,48,1,2.0,1,9.84,1,15.0013,1,2011
96,11.365,0.0,3.0,2011-01-05 05:00:00,5,2,0,5,47,1,3.0,1,9.02,1,11.0014,1,2011
97,9.850,0.0,33.0,2011-01-05 06:00:00,5,2,0,6,47,1,33.0,1,8.20,1,15.0013,1,2011
98,9.090,1.0,88.0,2011-01-05 07:00:00,5,2,0,7,43,1,87.0,1,7.38,1,12.9980,1,2011
99,9.090,3.0,195.0,2011-01-05 08:00:00,5,2,0,8,40,1,192.0,1,8.20,1,19.9995,1,2011

In [282]:
y_trdata = dataTrain['count']
y = y_trdata.values.astype(np.float32)

dataTrain=dataTrain.drop(['datetime','casual','registered','count'],axis=1)
dataTest=dataTest.drop(['datetime','casual','registered','count'],axis=1)

x_train = dataTrain.values.astype(np.float32)
x_test_main = dataTest.values.astype(np.float32)
dataTest.head(5)

,atemp,day,dayofweek,holiday,hour,humidity,month,season,temp,weather,windspeed,workingday,year
10739,11.365,20,3,0,0,56,1,1,10.66,1,26.0027,1,2011
10740,13.635,20,3,0,1,56,1,1,10.66,1,0.0000,1,2011
10741,13.635,20,3,0,2,56,1,1,10.66,1,0.0000,1,2011
10742,12.880,20,3,0,3,56,1,1,10.66,1,11.0014,1,2011
10743,12.880,20,3,0,4,56,1,1,10.66,1,11.0014,1,2011

# Define scores functions

In [283]:
def cross_val(lasso,x,y,cv=5):
    if x.shape[0]!=y.shape[0]:
        print("Wrong size of x,y.\n x size is  ",x.shape[0]," y size is ",y.shape[0])
        return
    
    step=x.shape[0]/cv
    pointer=0
    
#     x,y=shuffle(x,y)

    xs = np.array_split(x,cv,axis=0)
    ys = np.array_split(y,cv,axis=0)
    scores = np.zeros(cv)
#     acc = np.zeros(cv)
    for i in np.arange(cv):
        x_test = xs[i]
        y_test = ys[i]
        
        x_train = np.concatenate(np.delete(xs,i,0),axis=0)
        y_train = np.concatenate(np.delete(ys,i,0),axis=0)
#         print(i,"step",x_test,y_test,x_train,y_train)
        lasso.fit(x_train,y_train)
        predicted = lasso.predict(x_test)
        print('~~',predicted.min())
#         if predicted.min()<0:
#             print("ALERT! Aviable negative values in counts!")
        scores[i]= rmsle2(predicted,y_test,convertExp=True)
#         acc[i]= lasso.score(x_test,y_test)
    return scores

# from sklearn import linear_model
# lr = linear_model.LinearRegression()
# xx = np.array([[1,1,1,1],
#     [2,2,2,2],
#     [3,3,3,3],
#     [4,5,5,4]])
# yy = np.array([5,4,3,2])


# cross_val(lr,xx,yy,4)

In [284]:
def rmsle(y_predicted, y_real):
    log1 = np.nan_to_num(np.array([np.log(v + 1) for v in y_predicted]))
    log2 = np.nan_to_num(np.array([np.log(v + 1) for v in y_real]))
    calc = (log1 - log2) ** 2
    return np.sqrt(np.mean(calc))

def rmsle2(y, y_,convertExp=True):
    if convertExp:
        y = np.exp(y)-1,
        y_ = np.exp(y_)-1
    log1 = np.nan_to_num(np.array([np.log(v + 1) for v in y]))
    log2 = np.nan_to_num(np.array([np.log(v + 1) for v in y_]))
    calc = (log1 - log2) ** 2
    return np.sqrt(np.mean(calc))
def shuffle(a, b):
    assert len(a) == len(b)
    p = np.random.permutation(len(a))
    return a[p], b[p]

# Make models

In [285]:
new_y = np.log1p(y)
x_train.shape

(10739, 13)

In [286]:
from sklearn.ensemble import RandomForestRegressor
rff = RandomForestRegressor(n_estimators=20)
res=cross_val(rff,x_train,new_y,cv=3)
print(res,res.mean())

~~ 0.863207054138
~~ 0.768351054192
~~ 1.13707271218
[ 0.58529191  0.53286271  0.41380875] 0.51065445645

In [287]:
# from sklearn.ensemble import RandomForestRegressor
# import xgboost as xg
# from time import time
# from sklearn.cross_validation import train_test_split
# from sklearn.metrics import mean_squared_error
# from sklearn.model_selection import GridSearchCV

# X_train, X_test, y_train, y_test = train_test_split(x_train, new_y, test_size = 0.33, random_state = 30)
# rf = RandomForestRegressor()
# xgr=xg.XGBRegressor()
# param_grid = {"max_depth": [5,6,9],
#               "min_child_weight": [1,2,3],
#               "gamma" : [0.4,0.5],
#               "colsample_bytree": [0.5,0.6,0.7],
#               "subsample":[0.5,0.6]}
# grid_search = GridSearchCV(xgr, param_grid=param_grid)
# start = time()
# grid_search.fit(X_train, y_train)
# print("GridSearchCV took %.2f seconds for %d candidate parameter settings."
#       % (time() - start, len(grid_search.cv_results_['params'])))
# report(grid_search.cv_results_)
# prediction = rf.predict(X_test)
# prediction = prediction.astype(np.float32)
# rmsle(y_test, prediction) 
# mean_squared_error(y_test, prediction)

In [288]:
# print (grid_search.best_params_)
print ('{'colsample_bytree': 0.7, 'gamma': 0.5, 'max_depth': 6, 'min_child_weight': 3, 'subsample': 0.6}')

SyntaxError: invalid syntax (<ipython-input-288-43fb0ebedfdc>, line 2)

In [292]:
import xgboost as xg
xgr=xg.XGBRegressor(n_estimators=362,max_depth=6,min_child_weight=3,gamma=0.5,colsample_bytree=0.7,subsample=0.6)
res=cross_val(xgr,x_train,new_y,cv=3)
print(res,res.mean())
# prediction = xgr.predict(X_test)
# prediction = prediction.astype(np.float32)
# mean_squared_error(y_test, prediction)
print('0.408922614278-360')

~~ 0.530247
~~ 0.865123
~~ 1.13761
[ 0.47092921  0.427833    0.32597661] 0.408246273756
0.408922614278-360

In [ ]:
from sklearn.ensemble import RandomForestRegressor
import xgboost as xg
from time import time
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

X_train, X_test, y_train, y_test = train_test_split(x_train, new_y, test_size = 0.33, random_state = 30)
xgr=xg.XGBRegressor(n_estimators=362,max_depth=6,min_child_weight=3,gamma=0.5,colsample_bytree=0.7,subsample=0.6)
xgr.fit(X_train, y_train)
prediction = rf.predict(X_test)
prediction = prediction.astype(np.float32)
rmsle(y_test, prediction) 
mean_squared_error(y_test, prediction)

In [244]:
from sklearn.linear_model import ElasticNet
el=ElasticNet()
res=cross_val(el,x_train,new_y,cv=5)
print(res,res.mean())

~~ 2.65812
~~ 2.97823
~~ 2.37952
~~ 2.91234
~~ 2.73086
[ 1.25593194  0.97749532  1.07608662  1.07346049  1.11534758] 1.09966439075

In [147]:
# prediction = np.exp(prediction)
# y_test = np.exp(y_test)

# Final test score:

In [151]:
print(cross_val(xgr,x_train,new_y,cv=5).mean())

~~ 0.76334
~~ 0.614651
~~ 0.678691
~~ 0.698084
~~ 0.352503
0.295273327142

# Submit to csv

In [152]:
submit_y = np.expm1(xgr.predict(x_test_main))
submit_ex = pd.read_csv('sampleSubmission.csv',header=0)
submit_ex['count'] = submit_y.astype(np.float32)
submit_ex.to_csv('submit.csv',index=False)
submit_ex.head(5)

              datetime      count
0  2011-01-20 00:00:00  11.107640
1  2011-01-20 01:00:00   5.511661
2  2011-01-20 02:00:00   3.401312
3  2011-01-20 03:00:00   2.000455
4  2011-01-20 04:00:00   1.894162

## Last submited scores:

In [90]:
print('1)',0.48759,' 1384\'s place')
print('2)',0.41674,' 420\'s place ',420*100/3252, 'of best')

1) 0.48759  1384's place
2) 0.41674  420's place  12.915129151291513 of best